@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

:root {
  /* Colores pagina login */
  --spring: #dae0cb9a;
  /*fondo*/
  --matcha: #a7bb99;
  /*cajas*/
  --khakilinen: #c7c2ab;
  /*letras con links*/
  --almond: #f3f0e7;
  /* colores de */
  --sage: #9c9e80;
  --truffle: #605f4b;
  --copper: #eb8f0e;
  --sm: 14px;
  --xlg: 20px;
}

body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: var(--spring);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
}

.conteiner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 80%;
  border-radius: 4% 14% 0px;
  background-color: var(--matcha);
  margin-top: 32px;
}

.encriptar-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}

.contenedor-title {
  text-align: left;
  width: 100%;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: var(--xlg);
  color: var(--almond);
}

.conteiner-encriptador {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 6%;
  gap: 6%;
}

.contenedor-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.text-box {
  border: none;
  border-radius: 8%;
  height: 70%;
  background: var(--almond);
  padding: 10px; /* Añade espacio interno sin alterar el tamaño total */
  box-sizing: border-box;
}

.texto-encriptado {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 35%;
  border-radius: 8%;
  background-color: var(--almond);
  padding: 10px;
  box-sizing: border-box;
}

.texto-not-found {
  width: 100%;
}

.texto-encriptado img {
  width: 100%;
}

.contenedor-info {
  display: flex;
  justify-content: center;
  gap: 1%;
  color: var(--truffle);
}

.info {
  width: 6%;
}

p {
  font-weight: bold;
  font-size: var(--sm);
}

.texto-transformado {
  display: flex;
  flex-direction: column;
}

.conteiner-button {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.button {
  background: var(--almond);
  color: var(--matcha);
  font-weight: bold;
  width: 100px;
  padding: 6px;
  border: none;
  border-radius: 36px;
}
.button:hover {
  background-color: var(--khakilinen);
  color: white;
}

.button:disabled {
  background-color: var(--khakilinen);
  color: var(--almond);
}

.boton-copiar {
  width: 80%;
}
footer {
  text-align: center;
  width: 100%;
  background-color: var(--sage);
  margin-top: 10px;
}

@media (max-width: 769px) {
  body {
    width: 100%;
  }

  .conteiner {
    display: flex;
    width: 80%;
  }

  .conteiner-encriptador {
    flex-direction: column;
  }

  .contenedor-input {
    width: 100%;
  }

  .conteiner-button {
    margin-bottom: 16px;
  }

  .text-box {
    height: 64px;
  }

  .texto-encriptado {
    width: 100%;
    min-height: 64px;
  }

  footer {
    margin-top: 20%;
  }
}
